.nav-bar {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin: 0 4rem;
}

.nav-bar h1 {
  margin: 0;
}

.nav-items {
  display: flex;
  gap: 10px;
}

.nav-items li {
  list-style-type: none;
  border-right: 1px solid #bbb;
  padding-right: 10px;
}

.item {
  text-decoration: none;
  color: white;
}
